<!DOCTYPE html>

<html>

    <head>
        <title>My First Website</title>
    </head>

    <body>

        <h1 style="text-align: center; background-color: aqua; color: brown; padding: 30px;">Header One</h1>
        <h6>Header One</h6>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <strong>NIMA GAP</strong> unknown printer took a galley of type and scrambled it to make a type <a href="https://google.com"
            target="_blank">GOOGLE</a> specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <!--ul - unordered list
        li - list item-->
        <p>Grocery List:</p>
        <ul>
            <li>Meat</li>
            <li>Eggs</li>
            <li>Milk</li>
            <li>Bread</li>
            <li>Potatos</li>
        </ul>

        <!-- <ol>
            <li>Meat</li>
            <li>Eggs</li>
            <li>Milk</li>
            <li>Bread</li>
            <li>Potatos</li>
        </ol> -->

        <table>

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>374 7797709</td>
                </tr>
                <tr>
                    <td>Jorik Turaev</td>
                    <td>jorik@gmail.com</td>
                    <td>374 5112351</td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>374 7797709</td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>374 7797709</td>
                </tr>
            </tbody>

        </table>

        <br>
        <!-- br - break -->
        <hr>
        <!-- hr - horizontal line -->


        

        <br>

        <form>

            <label for="fname">First Name:
                <input type="text" placeholder="Your Name" id="fname" name="fname">
            </label>
            
            <br>

            <label for="fname">Age:
                <input type="number" placeholder="Your Age" id="age" name="age">
            </label>

            <br>

            <label for="fname">Password:
                <input type="password" placeholder="Your password" id="password" name="password">
            </label>
            
            <br>

            <label for="isMarried">Is Married:
                <input type="checkbox" id="Is Married" name="Is Married">
            </label>
            </label>
            
            <br>

            <label for="gender">Gender:
                <input type="radio" id="Is Married" name="Is Married">
                <input type="radio" id="Is Married" name="Is Married">
            </label>

            <br>

            <label for="country">
                Where are you from?
                <select name="country id="country">
                <option value="us">USA</option>
                <option value="uk">UK</option>
                <option value="uz">Uzbekistan</option>
                </select>
            </label>
        </form>

        <p style="text-align: center; background-color: black; color: white; padding: 20px;">CopyRight CityTech Tashkent</p>

    </body>

</html>